body {
  background-color: #eeeeee;
  color: #0e0d0d;
  width: 100%;
}
.GenelBilgiler {
  background-color: #395b64;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  width: 95%;
  padding: 20px;
  position: fixed;
}
a.GenelBilgiler {
  color: #eeeeee;
  padding: 5px;
  text-decoration: none;
  position: relative;
}
a.GenelBilgiler:hover {
  color: #395b64;
  padding: 5px;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 15px;
  position: relative;
}
hr {
  border-top: 5px dotted #395b64;
  width: 2%;
}
hr.FirstLine {
  background-color: #395b64;
  border: 1px solid #395b64;
  border-radius: 5px;
  height: 50px;
  width: 80%;
}
a {
  color: #0e0d0d;
}
h1 {
  text-align: center;
}
h3 {
  padding-left: 10px;
  text-align: center;
}
p {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10px;
  text-align: center;
}
#Meslek {
  text-decoration: none;
}
table.part {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}
td {
  padding: 15px;
}
body {
  width: 100%;
}
table {
  color: #0e0d0d;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

img {
  border-radius: 10px;
}

img.profile {
  border-radius: 100px;
  height: 200px;
  width: auto;
  margin-top: 50px;
}
